src/main/xsd/SSTWorkflow.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2014 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="job">
		<xs:complexType>
			<xs:attribute name="class" use="required" type="xs:string"/>
			<xs:attribute name="sequence" use="required" type="xs:long"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="jobs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="job" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="task">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dependencies" minOccurs="0"/>
				<xs:element ref="jobs"/>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:string"/>
			<xs:attribute name="exit" type="xs:boolean" default="false"/>
			<xs:attribute name="entry" type="xs:boolean" default="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="workflow">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="task" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dependency">
		<xs:complexType>
			<xs:attribute name="dependsOn" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dependencies">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dependency" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
